
  <!-- <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Favorite food</mat-label>
    <input matInput placeholder="Ex. Pizza"

    [(ngModel)]="inputValue"
    >
  </mat-form-field> -->


<!-- <h1>{{inputValue}}</h1>

<button mat-button>Basic</button> -->


<!-- <mat-form-field appearance="fill">
  <mat-label>Favorite food</mat-label>
  <mat-select>
    <mat-option *ngFor="let food of foods" [value]="food.value">
      {{food.viewValue}}
    </mat-option>
  </mat-select>
</mat-form-field> -->
