.search {
  width: 20vw;
  margin: 20px auto;
  color: rgb(227, 95, 7);
  font-weight: bold;
}
.search h1 {
  padding-left: 110px;
}
.film-search-container {
  width: 30%;
  margin: 10px auto;
  border: 1px solid rgb(72, 162, 72);
}

.film-search-title, .film-search-type {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.film-search-title h2, .film-search-type h2 {
  width: 10%;
  color: rgb(227, 95, 7);
  margin: 10px;
}
.example-full-width, .type-form {
  width: 70%;
  height: 45px;
  margin: 15px;
}

.film-search-container button {
  width:80%;
  font-size: 1.3em;
  color: rgb(227, 95, 7);
  background-color: rgb(135, 243, 135);
  margin: 20px;
  margin-left: 40px;

  &:hover {
    cursor: pointer;
    font-weight: bold;
  }

}

.film-show {
  width: 95vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px;
  box-shadow: 4px 4px 8px 0px rgb(135, 243, 135);
}
